
Body{
    margin-top:150px;
    width: 100%;
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family:'regular';
}
.vertical-line{
    border: 1px solid rgb(240, 240, 245);
    margin: 32px calc(10% + 52px);
    width: 100%;
}
/* Arrow container of carousal */

.button-carousal-scroll-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
}
.button-carousal-scroll-container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0px;
    padding: 0px;    
    border-radius: 100%;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
}
.button-carousal-scroll-container h1{
    font-family:'bold';
    font-size: 24px;
}
.carousal-button-container{
    display: flex;
    gap: 4px;
}
.carousal-button-container > button > svg{
    background: transparent;
}
/* Main carousal */
.carousal-container{
    display: flex;
    overflow: scroll hidden;
    width: 100%;
    margin-bottom: 24px;
    font-family: 'regular';

}
.carousal-container::-webkit-scrollbar{
    display: none;
}
.carousal-head-container{
    margin-top: 24px;
}
.main-carousal-items:first-child{
    padding-left: 16px;
}
.main-carousal-items{
    padding-right: 16px;
}
.main-carousal-img{
    width: 445px;
}
.second-carousal-img{
    width: 144px;
    height: 180px;
}
.third-carousal-img{
    width: 272px;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 24px;
}

/* Shimmer */
  
  .card {
      position: relative;
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      border-radius: 6px;
      height: 200px;
      overflow: hidden;
      width: 200px;
      margin: 40px auto;
    
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 1200px 100%;
  }
  
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -100% 0;
      }
      100% {
          background-position: 100% 0;
      }
  }
  
  @keyframes shimmer {
      0% {
          background-position: -1200px 0;
      }
      100% {
          background-position: 1200px 0;
      }
  }
    
      .media {
      height: 200px;
  }
  
  .p-32 {
      padding: 32px;
  }
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {
        width: 40%;
      }
  
  }
  .m-t-24 {
      margin-top: 24px;
  }

  /* Restaurant Cards */

.res-card-container-parent{
    width: 100%;
}
.res-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; /* Gap between grid items */
    padding: 12px;
    place-items: center;
    margin-left:auto;
    margin-right: auto;
    text-overflow: ellipsis;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
}
.res-card{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.res-data-img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 24px;
}
.cuisine,.res-name{
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Restaurant Menu */
.restaurant-whole-container{
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
    font-family:'proxima';
}
.menu-container{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    align-items: center;
    margin-bottom: 18px;
}
.hotel-name{
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
}
p.hotel-details{
    color: #7e808c;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}
.rating{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 12px 4px;
    max-width: 100px;
}

.time-cost-wrap{
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
    margin-top: 12px;
}
.offer-container-parent{
    overflow: scroll;
}
.offer-container-parent::-webkit-scrollbar{
    display: none;
}   
.offer-desc-coup{
    font-size: 12px;
    color: #93959f;
    font-weight: 700;
    margin-top: 4px;
}
.desc-vertical-line{
    height: 12px;
    width: 2px;
    background-color:#93959f;
}
.offer-header{
    color:#686b78;
    font-size: 14px;
    font-weight: 600;
}
.offer-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,.04);
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    cursor: pointer;
}
.style-divider{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 24px auto;
    width: calc(100% - 32px);
}

@media(min-width:0px) and (max-width:600px){
    .res-card-container{
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); /* Responsive columns */
    }
}
@media(min-width:1024px){
    .res-card-container{
        grid-template-columns:1fr 1fr 1fr 1fr ; /* Responsive columns */

    }
}